@font-face{
  font-family: OpenSans;
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: OpenSans;
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: bold;
}
.header{
	
	background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: #5e5e5e;
	position: relative;
	z-index:0;
	font-family: OpenSans;
	font-weight: bold;
  color: #ffffff;
}
.header:after{
  content:"";
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: #000000;
  opacity: 0.45;
  z-index: -1;
}

body{
	min-width: 1660px;
  margin: 0 auto;
}
.container{
  box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
}
.logo{
  width: 179px;
}
.logo-menu-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu-list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

}
.menu-list-item:nth-child(n+2){
  margin-left: 50px;

}
.menu-link{
  text-decoration: none;
  text-transform: uppercase;
  font-family: OpenSans;
  font-weight: normal;
  font-size: 13px;
  color: #ffffff;
}

.menu-link:hover{
  text-decoration: underline;
}

.header-content-wrapper{
  width: 850px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  margin-bottom: 55px;
}
.header-title{
	text-align: center;
	text-transform: uppercase;
	font-size: 45px;
	line-height: 75px;
	color: #ffffff;
}

.header-text {
  width: 700px;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.content-wrapper{
  display: flex;
  padding-top: 0;
  margin-top: 64px;
}

.main{
  display: flex;
  flex-direction: column;
  width: 780px;
}

.main article:nth-child(n+2){
  margin-top: 60px;
}

.post{
  display: flex;
}


.post-img{
  width: 381px;
}

.post-content{
  margin-left: 30px;
}

.tags-box{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tags-box li:nth-child(n+2){
  padding-left: 20px;
}

.tag{
  text-transform: uppercase;
  text-decoration: none;
  color: #b59f5b;
  font-family: OpenSans;
  font-weight: bold;
  font-size: 14px;
}

.tag:hover{
  text-decoration: underline;
}

.post-title{
  margin-top: 14px;
}

.post-title a{
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  font-family: OpenSans;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
}

.post-title a:hover{
  text-decoration: underline;
  color: #b59f5b;
}

.post-info{
  display: flex;
  margin-top: 36px;
}

.post-date{
  font-family: OpenSans;
  font-size: 12px;
  font-weight: normal;
  color: #888888;
}

.post-author{
  margin-left: 13px;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}

.post-text{
  font-family: OpenSans;
  font-size: 15px;
  font-weight: normal;
  color: #0f0d0e;
  margin-top: 54px;
}

.sidebar{
  width: 272px;
  margin-left: 120px;
}

.new-posts{
  margin-bottom: 60px;
}

.new-posts-title, .mailing, .tags-cloud-title, .themes-title{
  font-family: OpenSans;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #0f0d0e;
  margin: 0;
}

.new-posts-title::after, .mailing::after, .tags-cloud-title::after, .themes-title::after{
  content: "";
  display: block;
  margin: 11px auto 20px;
  height: 3px;
  width: 66px;
  background-color: #e1d9bd;
}

.new-posts-item{
  display: flex;
  margin-bottom: 22px;
}

.item-wrapper{
  margin-left: 19px;
}

.new-post-title a{
  font-family: OpenSans;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.new-post-title a:hover{
  text-decoration: underline;
  color: #b59f5b;
}

.search-group{
  margin-top: 60px;
}

.search{
  position: relative;
  margin: 0 auto;
  color: #b59f5b;
  background-color: #f4f7f6;
}

.search-group input {
  box-sizing: border-box;
  width: 83%;
  height: 48px;
  padding-left: 10px;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-group button {
  position: absolute; 
  top: 0px;
  right: 0px;
  width: 48px;
  height: 48px;
  border: none;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
  background-color: #b59f5b;
  font-family: OpenSans;
  font-weight: normal;
  font-size: 13px;
  color: #000000;
}

.mailing-section{
  margin-bottom: 60px;
}

.mailing-form input{
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding-left: 10px;
  border: none;
  outline: none;
  background-color: #f4f7f6;
  margin-bottom: 18px;
  font-family: OpenSans;
  font-weight: normal;
  font-size: 13px;
  color: #000000;
}

.mailing-form button{
  width: 100%;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.tags-cloud{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.tags-cloud-item{
  text-decoration: none;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: bold;
  color: #0f0d0e;
  margin-right: 6px;
  margin-bottom: 6px;
  border: solid 3px #eeeeee;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-transform: uppercase;
  cursor: pointer;
}

.tags-cloud-item:hover{
  border-color: #b59f5b;
}

.themes-list{
 list-style: none;
 padding-left: 0;
}

.themes-item{
  font-family: OpenSans;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  border-bottom: solid 1px #eeeeee;
  padding-top: 15px;
  padding-bottom: 14px;
}

.themes-item:hover{
  color: #b59f5b;
  cursor: pointer;
}

.count{
  font-family: OpenSans;
  font-weight: bold;
  color: #b59f5b;
  font-size: 12px;
  padding-left: 3px;
}

.footer{
  box-sizing: border-box;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 34px;
  margin-bottom: 41px;
}

.footer-wrapper{
  display: flex;
  justify-content: center;
  background-color: #f4f7f6;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  height: 100%;
}

.social{
  text-decoration: none;
}

.social img{
  height: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.copyright{
  display: block;
  text-decoration: none;
  text-align: center;
  color: #999999;
  font-family: OpenSans;
  font-weight: bold;
  margin-top: 74px;
}